.footer {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-top: 1px solid #b4cef8;
    background-color: white;
}

body {
    background-color: #f2f4f4;
}

.header {
    width: 100%;
    height: 10%;
    top: 0px;
    left: 0px;
    background-color: #33a2e7;
    text-align: center;
    display: block;
}

.header:after {
    content: "";
    display: block;
    clear: both;
}

.footer-li {
    width: 30%;
    height: 100%;
    position: absolute;
    float: left;
    display: block;
}

.footer-img {
    width: 30%;
    height: 100%;
    position: relative;
    display: block;
    margin: auto;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    list-style-type: none;
    width: 33%;
    height: 100%;
    align-content: center;
}

.nav-tabs > li > a {
    height: 100%;
}

.text-center {
    margin-left: -35%;
    padding-top: 5%;
    font-size: 20px;
    color: white;
    margin-bottom: 2px;
    position: relative;
    top: 30%;
}

.img-circle.img-head {
    margin-left: 10%;
    height: 70%;
    width: auto;
    float: left;
}

.content {
    background-color: white;
    width: 100%;
    display: block;
}

.table >tbody > tr > td{
    vertical-align: middle;
    padding-left: 10%;
}

.form-control {
    border: none;
}

/*.table > tbody > tr > td {*/
/*line-height: 200%;*/
/*}*/

.headImg {
    height: 30%;
    background-color: white;
    margin-right: 5%;
    font-size: x-large;
    padding-top: 10px;
}

.headImg:after {
    content: "";
    display: block;
    clear: both;
}

.space {
    width: 100%;
    height: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #f2f4f4;
}

.cancelImg {
    background: url("../img/Cancel.png") no-repeat left center;
    color: #ff4a62;
    float: left;
    display: block;
    width: 26px;
    height: 30px;
}

.saveImg {
    background: url("../img/ok.png") no-repeat left center;
    color: #ff4a62;
    float: left;
    display: block;
    width: 26px;
    height: 30px;
}

.cancel {
    float: left;
    display: block;
    height: 100%;
    margin-left: 2%;
    background-color: white;
}

.save {
    float: right;
    display: block;
    height: 100%;
    background-color: white;
}

.mapContainer {
    width: 100%;
    height: 90%;
    margin-bottom: 10%;
    top: 0px;
}

body, html, #allmap, #dituContent {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "微软雅黑";
}

.headImg span {
    float: left;
    font-family: '微软雅黑';
    color: red;
}

.news-blocks h3 a {
    color: #000;
}

.news-blocks {
    padding: 10px;
    margin-bottom: 10px;
    background: white;
    border-top: solid 1px #edefef;
}

.news-blocks:hover {
    background: #fff;
    border-color: #78cff8;
    transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
}

.news-blocks h3 {
    margin: 0 0 5px 0;
    font-size: 17px;
}

.news-blocks h3 a:hover {
    color: #78cff8;
    text-decoration: none;
}

.news-blocks a.news-block-btn {
    color: #000;
    display: block;
    font-size: 14px;
    background: none;
    padding: 5px 10px 0;
    text-align: right;
    text-decoration: none;
}
.news-blocks a.news-block-btn i {
    margin-left: 3px;
}
.m-icon-swapright {
    background-position: -27px -10px;
}
[class^="m-icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 4px;
    line-height: 14px;
    vertical-align: top;
    background-image: url(../img/syncfusion-icons.png);
}
.prefix-0{
    background: url("../img/news.png") -20px -100px no-repeat;
    width: 20px;
    height: 16px;
    font-size: 0;
    margin-right: 5px;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    float: left;
}

.games-blocks {
    padding: 10px;
    margin-bottom: 10px;
    background: white;
    border-top: solid 1px #edefef;

}
.games-blocks table{
    border:0;
}
.games-blocks td{
    width: 30%;
    text-align: center;
    font-size: 12px;
    padding: 20px 20px;
}
.games-blocks td span{
    display: block;
    text-align: center;
}
.news-blocks h3{
    background-color: white;
    padding-top:10px;
    padding-left: 5px;
    /*font-size: 20px;*/
    font-family: Helvetica;


}
.games-top{
    padding-top:3%;

}
.games-top img{
    float: left;
    margin-left: 5px;
    width: 7%;

}
.games-top span{
    font-size: 20px;
    padding-left: 2px;
}
.menu_header {
    height: 20%;
    top: 0px;
    left: 0px;
    text-align: center;
    display: block;
}

.menu_header .imgDiv {
    float: left;
    width: 100%;
    height: 90%;
    padding-top: 10%;
}

.menu_header .nameText {
    margin-left: 7%;
    font-size: 20px;
    color: black;
    font-family: arial, helvetica;
}

.menu-icon {
    margin: 5% 10%;
    width: 15%;
}

.menu-span {
    font-size: 20px;
}
/*login*/
.login {
    background-color: #666
}

.login .logo {
    margin-top: 10px;
}

.login .logo {
    width: 100%;
    padding: 15px;
    text-align: center;
}

.login .content {
    background: url(../img/bg-white-lock.png) repeat;
    margin-left: 10%;
    padding: 30px;
    width: 80%;
}

.login .content .form-title {
    font-weight: 300;
    margin-bottom: 25px;
    text-align: center;
}

.login .content h3 {
    font-size: 22px;
}

.login .content h3 {
    color: #eee;
}

.close {
    display: inline-block;
    margin-top: 0px;
    margin-right: 0px;
    width: 9px;
    height: 9px;
    background-repeat: no-repeat !important;
    background-image: url("../img/remove-icon-small.png") !important;
}

.alert-danger, .alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.login .content .control-group {
    margin-bottom: 20px !important;
}

.login .content p, .login .content label {
    color: #fff;
}

.control-label {
    margin-top: 2px;
}

.input-icon.left i {
    color: #ccc;
    display: block !important;
    position: absolute !important;
    z-index: 1;
    margin: 9px 2px 4px 10px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center;
}

[class^="icon-"], [class*=" icon-"], [class^="icon-"]:hover, [class*=" icon-"]:hover {
    background: none !important;
}

.login .content .input-icon .m-wrap {
    margin: 0px !important;
}

.login .content .m-wrap {
    width: 100%;
}
.input-icon.left input {
    padding-left: 33px !important;
    line-height: 30px;
}
.login .content .form-actions {
    background-color: transparent;
    clear: both;
    border: 0px;
    border-bottom1: 1px solid #999;
    padding: 0px 30px 25px 30px;
    margin-right: -30px;
}
.form-actions:before, .form-actions:after {
    display: table;
    line-height: 0;
    content: "";
}
.login .content .form-actions .checkbox {
    display: inline-block;
    font-size: 13px;
    position: relative;
}
.login .content p, .login .content label {
    color: #fff;
}

.btn.blue {
    color: white;
    text-shadow: none;
    background-color: #4d90fe;
}


.login .content .forget-password {
    border-top: 1px dotted #eee;
    padding-top: 10px;
    margin-top: 25px;
}
.login .content p, .login .content label {
    color: #fff;
}
.login .content h4 {
    color: #eee;
}
a {
    text-shadow: none !important;
    color: #0d638f;
}