.footer {
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    border-top: 1px solid #b4cef8;
    background-color: white;
}

body {
    background-color: #f2f4f4;
}

.header {
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #3498db;
    text-align: center;
    display: block;
}

.header:after {
    content: "";
    display: block;
    clear: both;
}

.footer-li {
    width: 30%;
    height: 100%;
    position: absolute;
    float: left;
    display: block;
}

.footer-img {
    width: 30%;
    height: 100%;
    position: relative;
    display: block;
    margin: auto;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    list-style-type: none;
    width: 33%;
    height: 100%;
    align-content: center;
}

.nav-tabs > li > a {
    height: 100%;
}

.text-center {
    margin-left: -35%;
    padding-top: 5%;
    font-size: 20px;
    color: white;
    margin-bottom: 2px;
    position: relative;
    top: 30%;
}

.img-circle.img-head {
    margin-left: 10%;
    height: 70%;
    width: auto;
    float: left;
}

.content {
    background-color: white;
    width: 100%;
    display: block;
    margin-top: 18%;
}

.infoTd {
    text-align: left;
}

.table-inputFlag {
    border: none;
    background-color: white;
    color: black;
    width: 40%;
}

.table-inputInfo {
    border: none;
}

/*.table > tbody > tr > td {*/
/*line-height: 200%;*/
/*}*/

.headImg {
    height: 30%;
    background-color: white;
    margin-right: 5%;
    font-size: x-large;
}

.headImg:after {
    content: "";
    display: block;
    clear: both;
}

.space {
    width: 100%;
    height: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #f2f4f4;
}

.cancelImg {
    background: url("../img/Cancel.png") no-repeat left center;
    color: #ff4a62;
    float: left;
    display: block;
    width: 26px;
    height: 30px;
}

.saveImg {
    background: url("../img/ok.png") no-repeat left center;
    color: #ff4a62;
    float: left;
    display: block;
    width: 26px;
    height: 30px;
}

.cancel {
    float: left;
    display: block;
    height: 100%;
    margin-left: 2%;
    background-color: white;
}

.save {
    float: right;
    display: block;
    height: 100%;
    background-color: white;
}

.mapContainer {
    width: 100%;
    height: 90%;
    margin-bottom: 10%;
    top: 0px;
    position: fixed;
}

body, html, #allmap, #dituContent {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "微软雅黑";
}

.headImg span {
    float: left;
    font-family: '微软雅黑';
    color: red;
}

.news-blocks h3 a {
    color: #000;
}

.news-blocks {
    padding: 10px;
    margin-bottom: 10px;
    background: white;
    border-top: solid 1px #edefef;
}

.news-blocks:hover {
    background: #fff;
    border-color: #78cff8;
    transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
}

.news-blocks h3 {
    margin: 0 0 5px 0;
    font-size: 17px;
}

.news-blocks h3 a:hover {
    color: #78cff8;
    text-decoration: none;
}

.news-blocks a.news-block-btn {
    color: #000;
    display: block;
    font-size: 14px;
    background: none;
    padding: 5px 10px 0;
    text-align: right;
    text-decoration: none;
}
.news-blocks a.news-block-btn i {
    margin-left: 3px;
}
.m-icon-swapright {
    background-position: -27px -10px;
}
[class^="m-icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 4px;
    line-height: 14px;
    vertical-align: top;
    background-image: url(../img/syncfusion-icons.png);
}
.prefix-0{
    background: url("../img/news.png") -20px -100px no-repeat;
    width: 20px;
    height: 16px;
    font-size: 0;
    margin-right: 5px;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    float: left;
}

.games-blocks {
    padding: 10px;
    margin-bottom: 10px;
    background: white;
    border-top: solid 1px #edefef;

}
.games-blocks table{
    border:0;
}
.games-blocks td{
    width: 30%;
    text-align: center;
    font-size: 12px;
    padding: 20px 20px;
}
.games-blocks td span{
    display: block;
    text-align: center;
}
.news-blocks h3{
    background-color: white;
    padding-top:10px;
    padding-left: 5px;
    /*font-size: 20px;*/
    font-family: Helvetica;


}
.games-top{
    padding-top:3%;

}
.games-top img{
    float: left;
    margin-left: 5px;
    width: 7%;

}
.games-top span{
    font-size: 20px;
    padding-left: 2px;
    /*font-weight:bold;*/
}
