.footer{
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    border-top:1px solid #b4cef8;
}
.footer-li{
    width: 30%;
    height: 100%;
    position: absolute;
    float: left;
    display: block;
}
.footer-img{
    width: 30%;
    height: 40px;
    position: relative;
    display: block;
    margin: auto;
}
.nav-tabs {
    border-bottom: none;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    list-style-type: none;
    width: 33%;
    align-content: center;
}