.footer{
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    border-top:1px solid #b4cef8;
    background-color: white;
}
.header{
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0px;
    left: 0px;
    border-top:1px solid #b4cef8;
    background-color: #3498db;
    text-align:center;
    vertical-align:middle;
}
.footer-li{
    width: 30%;
    height: 100%;
    position: absolute;
    float: left;
    display: block;
}
.footer-img{
    width: 30%;
    height: 100%;
    position: relative;
    display: block;
    margin: auto;
}
.nav-tabs {
    border-bottom: none;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    list-style-type: none;
    width: 33%;
    height: 100%;
    align-content: center;
}
.nav-tabs > li > a {
    height: 100%;
}
.text-center{
    margin-left: -35%;
    padding-top: 5%;
    font-size:20px;
    color:white;
    margin-bottom: 2px;
    position: relative;
    top:30%;
}
.img-circle.img-head{
    margin-left: 10%;
    height: 70%;
    width: auto;
    float: left;
}