.footer {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-top: 1px solid #b4cef8;
    background-color: white;
}

body {
    background-color: #f2f4f4;
}

.header {
    width: 100%;
    height: 10%;
    top: 0px;
    left: 0px;
    background-color: #33a2e7;
    text-align: center;
    display: block;
}

.header:after {
    content: "";
    display: block;
    clear: both;
}

.footer-li {
    width: 30%;
    height: 100%;
    position: absolute;
    float: left;
    display: block;
}

.footer-img {
    width: 30%;
    height: 100%;
    position: relative;
    display: block;
    margin: auto;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    list-style-type: none;
    width: 33%;
    height: 100%;
    align-content: center;
}

.nav-tabs > li > a {
    height: 100%;
}

.text-center {
    margin-left: -35%;
    padding-top: 5%;
    font-size: 20px;
    color: white;
    margin-bottom: 2px;
    position: relative;
    top: 30%;
}

.img-circle.img-head {
    margin-left: 10%;
    height: 70%;
    width: auto;
    float: left;
}

.content {
    background-color: white;
    width: 100%;
    display: block;
}

.table > tbody > tr > td {
    vertical-align: middle;
    padding-left: 10%;
}

.form-control {
    border: none;
}

/*.table > tbody > tr > td {*/
/*line-height: 200%;*/
/*}*/

.headImg {
    height: 30%;
    background-color: white;
    margin-right: 5%;
    font-size: x-large;
    padding-top: 10px;
}

.headImg:after {
    content: "";
    display: block;
    clear: both;
}

.space {
    width: 100%;
    height: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #f2f4f4;
}

.cancelImg {
    background: url("../img/Cancel.png") no-repeat left center;
    color: #ff4a62;
    float: left;
    display: block;
    width: 26px;
    height: 30px;
}

.saveImg {
    background: url("../img/ok.png") no-repeat left center;
    color: #ff4a62;
    float: left;
    display: block;
    width: 26px;
    height: 30px;
}

.cancel {
    float: left;
    display: block;
    height: 100%;
    margin-left: 2%;
    background-color: white;
}

.save {
    float: right;
    display: block;
    height: 100%;
    background-color: white;
}

.mapContainer {
    width: 100%;
    height: 90%;
    margin-bottom: 10%;
    top: 0px;
}

body, html, #allmap, #dituContent {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "微软雅黑";
}

.headImg span {
    float: left;
    font-family: '微软雅黑';
    color: red;
}

.readCard {
    padding-top: 20%;
    height: 50%;
}

.dashboard-stat.blue {
    display: none;
    background-color: #27a9e3;
    padding-bottom: 10%;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

.dashboard-stat:before, .dashboard-stat:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
}

.staff_headImg {
    width: 120px;
    height: 120px;
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 6px;

}

.details {
    float: right;
    padding-right: 40px;
}

.details .number {
    padding-top: 25px;
    text-align: left;
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 10px;
}

.dashboard-stat .details .desc {
    text-align: left;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 300;
    color: #fff;
}

/*myschedule*/
.wc-container {
    font-family: arial, helvetica;
}

.wc-toolbar {
    padding: 1em;
    font-size: 0.8em;
}

.ui-widget-header {
    background-color: #c5f1e9;
    color: #222222;
    font-weight: bold;
    margin-bottom: -10px;
    line-height: 19px;
}

.wc-toolbar .wc-nav {
    float: left;
}

.wc-toolbar .wc-title {
    text-align: center;
    padding: 0;
    margin: 0 5%;
    font-size: 18px;
}

.ui-widget-content {
    /*border: 1px solid #f5f5f5;*/
    background: #e2ebdf;
    color: #222222;
}

.wc-header {
    background: #c5f1e9;
    /*border-width: 1px 0;*/
    /*border-style: solid;*/
}

.wc-container table td {
    margin: 0;
    padding: 0;
}

.wc-header .wc-day-column-header {
    text-align: center;
    padding: 0.4em;
}

.wc-day-column-header {
    border-width: 0 0 1px 3px;
    border-style: solid;
    border-color: transparent;
}

.gridTable {
    overflow: auto;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    position: relative;
    background-color: #fff;
    width: 100%;
    border: 1px solid #ddd;
    table-layout: fixed;
    word-break: break-all;
}

.gridWeek {
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
}

.gridWeek > tbody > tr > td, .gridTable > tbody > tr > th {
    border: 1px solid #ddd;
    width: 12.5%;
    text-align: center;
}

.gridTable > tbody > tr > td, .gridTable > tbody > tr > th {
    border: 1px solid #ddd;
    width: 12.5%;
    text-align: center;
}

.gridTable > tbody > tr {
    line-height: 35px;
}

.work {
    background-color: #2b72d0;
    border: 1px solid #1b62c0;
    color: #fff;
    padding: 0;
    font-weight: bold;

}
.work:hover {
   opacity: 0.8;

}

.icon-angle-left, .icon-angle-right {
    font-size: 32px;
    vertical-align: baseline;
    color: #2b72d0;
    background: transparent;
}

.icon-angle-left:hover {
    color: #8c8c8c;
}

.icon-angle-right:hover {
    color: #8c8c8c;
}

.menu_header {
    height: 20%;
    top: 0px;
    left: 0px;
    text-align: center;
    display: block;
}

.menu_header .imgDiv {
    float: left;
    width: 100%;
    height: 90%;
    padding-top: 10%;
}

.menu_header .nameText {
    margin-left: 7%;
    font-size: 20px;
    color: black;
    font-family: arial, helvetica;
}

.menu-icon {
    margin: 5% 10%;
    width: 15%;
}
.menu-span {
    font-size: 20px;
}

/*login*/
.login {
    background-color: #666
}

.login .logo {
    margin-top: 10px;
}

.login .logo {
    width: 100%;
    padding: 15px;
    text-align: center;
}

.login .content {
    background: url(../img/bg-white-lock.png) repeat;
    margin-left: 10%;
    padding: 30px;
    width: 80%;
}

.login .content .form-title {
    font-weight: 300;
    margin-bottom: 25px;
    text-align: center;
}

.login .content h3 {
    font-size: 22px;
}

.login .content h3 {
    color: #eee;
}

.close {
    display: inline-block;
    margin-top: 0px;
    margin-right: 0px;
    width: 9px;
    height: 9px;
    background-repeat: no-repeat !important;
    background-image: url("../img/remove-icon-small.png") !important;
}

.alert-danger, .alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.login .content .control-group {
    margin-bottom: 20px !important;
}

.login .content p, .login .content label {
    color: #fff;
}

.control-label {
    margin-top: 2px;
}

.input-icon.left i {
    color: #ccc;
    display: block !important;
    position: absolute !important;
    z-index: 1;
    margin: 9px 2px 4px 10px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center;
}

[class^="icon-"], [class*=" icon-"], [class^="icon-"]:hover, [class*=" icon-"]:hover {
    background: none !important;
}

.login .content .input-icon .m-wrap {
    margin: 0px !important;
}

.login .content .m-wrap {
    width: 100%;
}

.input-icon.left input {
    padding-left: 33px !important;
    line-height: 30px;
}

.login .content .form-actions {
    background-color: transparent;
    clear: both;
    border: 0px;
    border-bottom1: 1px solid #999;
    padding: 0px 30px 25px 30px;
    margin-right: -30px;
}

.form-actions:before, .form-actions:after {
    display: table;
    line-height: 0;
    content: "";
}

.login .content .form-actions .checkbox {
    display: inline-block;
    font-size: 13px;
    position: relative;
}

.login .content p, .login .content label {
    color: #fff;
}

.btn.blue {
    color: white;
    text-shadow: none;
    background-color: #4d90fe;
}

.login .content .forget-password {
    border-top: 1px dotted #eee;
    padding-top: 10px;
    margin-top: 25px;
}

.login .content p, .login .content label {
    color: #fff;
}

.login .content h4 {
    color: #eee;
}

a {
    text-shadow: none !important;
    color: #0d638f;
}

/*myMsg*/
.newsContainer {
    width: 100%;
    height: 17%;
    padding: 0 5%;
    border-bottom: 1px solid #eee;
    margin-top: 5%;
}

.newsHead {
    height: 60%;
    float: left;
    margin-bottom: 15%;
}

.newsContainer .userNameSpan {
    margin-left: 5%;
    font-size: 18px;
}

.sendTimeSpan {
    float: right;
    font-size: 14px;
    color: #484747;
}

.newsContainer h5 {
    margin-top: 5%;
    padding-left: 20%;
    color: #484747;
}

/*myCar*/

.header .back {
    float: left;
    margin-top: 7%;
    margin-left: 5%;
}

.header .icon-angle-left {
    font-size: 20px;
    color: white;
}

.mainContainer {
    height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
}

.carInfo {
    width: 100%;
    margin: 2% 3%;
}

.car-config .column-head {
    padding-left: 5%;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    font-weight: 700;
    height: 33px;
    background-color: #f5f5f5;
}

.car-config .list li {
    overflow: hidden;
    width: 100%;
    padding: 5% 5%;
    padding-bottom: 0;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
}

.car-config .list li p {
    float: right;
    color: #999;
}

.car-config .column-head .column-title {
    font-size: 15px;
    font-weight: 700;
    line-height: 33px;
}

.column-title:before {
    content: "";
    float: left;
    height: 14px;
    background-color: #22ac38;
    width: 2px;
    margin: 9px 5px 0 0;
}

.car-conent {
    padding: 0;
}

.car-conent .tit2 {
    color: #333;
    background-color: #f4f4f4;
    height: 40px;
    line-height: 40px;
    text-indent: 24px;
    position: relative;
}

.car-conent .tit2:after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #2baa3f;
    top: 16px;
    left: 10px;
}

.list {
    padding-left: 0;
}

.report-list li {
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #d7d7d7;
    padding: 0 5%;
}

.report-list li p {
    font-size: 14px;
    color: #333;
}

.report-list li span {
    color: #333;
    font-size: 14px;
}

.fr {
    float: right;
    width: 8%;
}

.car-conent .result.yes {
    width: 14px;
    height: 14px;
    border: 1px solid #22ac38;
    border-radius: 50%;
}

.car-conent .result {
    display: inline-block;
    width: 18px;
    height: 18px;
    /* text-align: center; */
    vertical-align: middle;
    position: relative;
}

.car-conent .result.yes:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;
    width: 3px;
    height: 7px;
    border-bottom: 1px solid #22ac38;
    border-right: 1px solid #22ac38;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 10;
}

.result.yes:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;
    width: 3px;
    height: 7px;
    border-bottom: 1px solid #22ac38;
    border-right: 1px solid #22ac38;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 10;
}

/*news*/
.news{
    margin-top: 10px;
}
.news ul {
    padding: 0 10px;
}

.news li {
    border-bottom: 1px solid #dadfe3;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.list li .f_c:first-child {
    margin-bottom: 10px;
}

.news .list .date {
    float: left;
    display: inline-block;
    height: 48px;
    position: relative;
    width: 48px;
    margin-right: 10px;
    background: url("../img/news/newsbg.png") no-repeat 0 -178px;
    text-align: center;
    line-height: 24px;
}

.news .date span:first-child {
    font-size: 14px;
    color: #fff;
    line-height: 20px;
}

.news .date span {
    display: block;
}

.news .list .title {
    color: #0e419c;
    overflow: hidden;
    display: block;
    line-height: 25px;
    margin-bottom: 10px;
    font-size: 16px !important;
    line-height: 24px;
    max-height: 48px;
    overflow: hidden;
}

.f_c:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.news .list .f_l {
    margin-right: 10px;
}

.news .f_l {
    float: left;
}

.news .list .f_l img {
    width: 120px;
    height: 90px;
    vertical-align: middle;
}
/*index*/
.buttom-button{
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 10%;
    left: 0px;
    border-top: 1px solid #b4cef8;
    background-color: white;
}
.button-circle.button-jumbo{
    width: 100px;
    height: 100px;
    margin-top: 5%;
}
.button-circle.button-jumbo.endBtn{
    background-color: #e02222;
    border-color: #e02222;
}
.button-circle.button-jumbo.nextBtn{
    background-color: #0362fd;
}
.center-block{
    display: table;
}
/*.myCash*/
.month_head{
    width: 100%;
    height: 30px;
    margin-top: 5px;
    padding-left: 22px;
}
.selectMonth{
    border: 1px solid #eee;
    width: 100px;
    height: 22px;
    margin-left: 5px;
}